{% extends 'base.html' %}
{% load static %}
{% block title %} Fadil {% endblock %}

{% block content %}
   <div class="top_navigator d-none">
      <div class="logo_content d-flex align-items-center justify-content-between">
          <div class="logo">
               <img class="logo_name" src="{% static 'images/logo2.png' %}" alt="">
          </div>
         
          <i class='bx bx-menu' id="btn2"></i>
      </div>
      <div class="d-flex social_nav mx-auto">
         <a href="https://www.instagram.com/fadil_clinic_bukhara/" class="text-light">
            <i class='bx bxl-instagram-alt'></i>
         </a>
         <a href="https://www.youtube.com/channel/UCDv6ojLrdpQMnfvTs56z3Ug" class="text-light mx-3">
            <i class='bx bxl-youtube' ></i>
         </a>
         <a href="https://t.me/infofadil" class="text-light">
            <i class='bx bxl-telegram' ></i>
         </a>
      </div>
  </div>
 <div class="sidebar d-none d-sm-block">
     <div class="logo_content  border-bottom-light">
        
         <img class="logo_name" src="{% static 'images/logo2.png' %}" alt="">
      
         
         <i class='bx bx-menu' id="btn"></i>
     </div>
     <ul class="nav_list">
         <li class="mt-3">
            <a href="#main" class=" nav_link_">
               <i class='bx bx-home-alt mr-1' ></i>
               <span class="links_name">Главная</span>
            </a>
         
         </li>

         <li>
            <a href="#about" class="nav_link_">
               <i class='bx bx-info-circle mr-1'></i>
               <span class="links_name">О нас</span>
            </a>
            
         </li>
         <li>
            <a href="#result" class="nav_link_">
               <i class='bx bx-notepad mr-1'></i>
               <span class="links_name">Результаты</span>
            </a>
         
         </li>
         <li>
            <a href="{% url 'question' %}" class="nav_link_">
                <i class='bx bx-question-mark mr-1' ></i>
               <span class="links_name">Вопросы и ответы</span>
            </a>
         
            </li>
      
         <li>
            <a href="#contact" class="nav_link_">
               <i class='bx bx-phone-call mr-1' ></i>
               <span class="links_name">Контакты</span>
            </a>
         
         </li>
         <li>
            <a href="#map" class="nav_link_">
               <i class='bx bx-map mr-1'></i>
               <span class="links_name">Локация</span>
            </a>
         
         </li> 
     </ul>
     
 </div>
   <!-- Main -->
   <div class="home_content  ">
         <div class="bg-light ">
         
            <nav class="d-sm-none border-bottom-light d-flex align-items-center  px-5 py-2 bg-dark-night">
               <a href="" class="d-flex align-items-center logo text-white fs-25 b-1">
                  <img class="header_img" src="{% static 'images/logo2.png' %}" alt="">
               </a>
               <ul class="navbar d-flex mx-auto   ">
                  <a href="#main">
                     <li><i class='bx bx-home-alt mr-1' ></i> Главная</li>
                  </a>
                  <a href="#about">
                     <li><i class='bx bx-info-circle mr-1'></i> О нас</li>
                  </a>
                  <a href="#result">
                     <li><i class='bx bx-notepad mr-1'></i> Результаты</li>
                  </a>
                  <a href="#contact">
                     <li><i class='bx bx-phone-call mr-1' ></i> Контакты</li>
                  </a>
                  <a href="#map">
                     <li><i class='bx bx-map mr-1'></i> Локация</li>
                  </a>
                  
               </ul>
               <div class="d-flex social_nav mr-auto">
                  <a href="https://www.instagram.com/fadil_clinic_bukhara/" class="text-light">
                     <i class='bx bxl-instagram-alt'></i>
                  </a>
                  <a href="https://www.youtube.com/channel/UCDv6ojLrdpQMnfvTs56z3Ug" class="text-light mx-3">
                     <i class='bx bxl-youtube' ></i>
                  </a>
                  <a href="https://t.me/infofadil" class="text-light">
                     <i class='bx bxl-telegram' ></i>
                  </a>
               </div>
               <a href="tel:+998977980007" class="text-light">
                  +998 97 798 00 07
               </a>
            </nav>
           

            <div class="fix">
               <div id="main" class="header   p-5 p-sm-4 grid-2 gap-1 align-items-center ">
                  <img class="w-75 mx-auto d-block" src="{% static 'images/header2.jpg' %}" alt="">
                  <form action="{% url 'feedback' %}" class="ml-auto  mx-sm-auto   px-sm-0 " method="POST">
                     {% csrf_token %}
                     <div class="text-light fs-22 fs-sm-28 b-1 text-center">Fadil - Центр Трихологии </div>
                     <div class="text-light fs-35 fs-sm-25 text-center">
                        <span class="b-2 my-sm-4">Доверьте заботу о волосах </span>
                        <br>
                        настоящим профессионалам
                     </div>
                     <!-- <div class="text-light fs-18 b-1 text-center">НАЧНИТЕ СЛЕДУЮЩУЮ ГЛАВУ СЕГОДНЯ</div> -->
                        <div class="form-container mt-4">
                        <div class="grid-1 gap-1">
                           <div class="">
                              <label class="text-light" for="">Как вас зовут?</label>
                              <input required name="first_name" class="input" type="text">
                           </div>
                       
                        </div>
                        <div class="my-3">
                           <label for="" class="text-light">Номер телефона</label>
                           <input required name="number" type="text" id="selector" class="input">
                        </div>
                        <div class="">
                           <label class="text-light" for="">Чем мы можем Вам помочь ?</label>
                           <textarea required name="text" rows="10"></textarea>
                        </div>
                        <button class="btn btn-md mt-3 btn-night rounded-1 w-50 mx-auto">Отправить</button>
                     </div>
                  </form>
               </div>
   
               <div id="about" class=" about-section bg-dark-night text-light  p-sm-4  px-5 py-5 ">
                  <div class="grid-2 gap-1">
                     <div class="left self-center">
                        <div class="mt-0 fs-40 b-1" >Чем занимаемся?</div>
                        <p>
                           Я доктор Фаррух Умуров, являюсь главным врачом клиники по пересадке волос «Fadil-Центр Трихологии».
                           Я и специалисты нашей клиники «Fadil-Центр Трихологии» считаем своим долгом предоставить пациентам и гостям нашей клиники безвозмездную и польную информацию о методах и технологиях трансплантации, обо всех этапах пересадки волос.
                        </p>
                        <p>
                           Основная специализация клиники «Fadil-Центр Трихологии» – трансплантация волос безоперационным методом и, если можно так выразиться – “полным циклом”. 
                           Пересадка (трансплантация) волос является ювелирным, даже более тонкым делом и требует соответсвуюшего подхода к нему. Наши специалисты отличаются со своим более ответственным подходом к каждой детали процесса трансплантации, что гарантирует нашим пациентам получения высококласного результата. 
                        </p>
                        <p>
                           Наш центр находится в древнейшем и вечно молодом городе Бухара (Узбекистан), которого ещё называют городом-музеем под открытым небом.
                        </p>
                     </div>
                     <div class="right  rounded-1 grid-2 gap-1">

                           <img class="w-100  rounded-1 object-fit" src="{% static 'images/about3.jpg' %}" alt="">
                    
                           <img class="w-100  rounded-1 object-fit" src="{% static 'images/about1.jpg' %}" alt="">
                        
                           <img class="w-100  rounded-1 object-fit" src="{% static 'images/about2.jpg' %}" alt="">
                       
                           <img class="w-100  rounded-1 object-fit" src="{% static 'images/about4.jpg' %}" alt="">
                      
                        
                      

                     </div>
                  </div>

               
   
               </div>
               <div class=" why-section bg-dark-night text-light pt-sm-5   p-sm-4  px-5 py-5 ">
                  <div class="mb-4  fs-40 fs-sm-30 b-1" >Почему выбирают нас ?</div>
                  <div class="why-section-grid grid-3 pt-4 mt-5 gap-1">
                  
                     <div class="p-4 pt-5 border-light rounded-1 why-box">
                        <i class='bx bxs-like  ' style="background: #000;"></i>
                        <div class="b-1 fs-25"> Гарантированный результат</div>
                        <div class="mt-3">
                           Мы гарантируем высокую приживаемость пересаженного материала. В лобно-височной зоне графты приживаются и идут в рост в течение 6 месяцев после трансплантации, на макушке – через год.                        </div>
                      </div>
                      <div class="p-4 pt-5 border-light rounded-1 why-box">
                      
                        <i class='bx bx-plus-medical' style="background: #000;"></i>
                        <div class="b-1 fs-25"> Абсолютная безопасность</div>
                        <div class="mt-3">
                           Высококвалифицированные специалисты работают с использованием новейших разработок и передовых технологий, а наши операционные оснащены всем необходимым оборудованием для успешной трансплантации волос.    </div>
                      </div>
                      <div class="p-4 pt-5 border-light rounded-1 why-box">
                        <i class='bx bxs-map'  style="background: #000;"></i>
                        <div class="b-1 fs-25"> Удобная местоположения</div>
                        <div class="mt-3">
                           Клиника «Fadil-Центр Трихологии» находится в городе Бухара, что позволяет каждому, в том числе туристам - гостям нашего города-музея посетит наш Трихологический центр. Можете приехать к нам на очную консультацию и сделать операцию здесь и сейчас. 
                        </div>
                      </div>
                      <div class="p-4 pt-5 border-light rounded-1 why-box">
                    
                        <i class='bx bxs-injection' style="background: #000;"></i>
                        <div class="b-1 fs-25"> Использование современных методов пересадки</div>
                        <div class="mt-3">
                         В нашей клинике проводят только бесшовную пересадку волос методом FUE (Follicular Unit Extraction) -это та методика, с которой сейчас работают лучшие клиники мира.
                        </div>   
                      </div>
                      <div class="p-4 pt-5 border-light rounded-1 why-box">
                      
                        <i class='bx bxs-info-circle'style="background: #000;"></i>
                        <div class="b-1 fs-25">Высокое качество и низкие цены</div>
                        
                        <div class="mt-3">
                           Мы всегда предлагаем лучшую цену при неизменно высоком качестве. 
                        </div>
                      </div>
                   
                  </div>

               </div>
               <!-- Slider -->
               <div id="result" class="p-sm-4  p-5 bg-dark-night">
                  <div class="mt-0 fs-40 b-1 text-light mb-4" >Результаты </div>
                  <div id="image-slider" class="splide d-sm-none">
                     <div class="splide__track h-100">
                        <ul class="splide__list h-100">
                           <li class="splide__slide h-100">
                              <div class="grid-2 h-100 gap-1">      
                                 <img class="w-100" src="{% static 'images/results/1.jpg' %}">                         
                                 <img class="w-100" src="{% static 'images/results/2.jpg' %}">                                                               
                              </div>
                           </li>
                           <li class="splide__slide h-100">
                              <div class="grid-2 gap-1">                           
                                    <img class="w-100" src="{% static 'images/results/3.jpg' %}">                             
                                    <img class="w-100" src="{% static 'images/results/4.jpg' %}">                                                       
                              </div>
                           </li>
                           <li class="splide__slide h-100">
                              <div class="grid-2 gap-1">                           
                                    <img class="w-100" src="{% static 'images/results/5.jpg' %}">                             
                                    <img class="w-100" src="{% static 'images/results/6.jpg' %}">                                                       
                              </div>
                           </li>
                           <li class="splide__slide h-100">
                              <div class="grid-2 gap-1">                           
                                    <img class="w-100" src="{% static 'images/results/7.jpg' %}">                             
                                    <img class="w-100" src="{% static 'images/results/8.jpg' %}">                                                       
                              </div>
                           </li>
                           <li class="splide__slide h-100">
                              <div class="grid-2 gap-1">                           
                                    <img class="w-100" src="{% static 'images/results/9.jpg' %}">                             
                                    <img class="w-100" src="{% static 'images/results/10.jpg' %}">                                                       
                              </div>
                           </li>
                           <li class="splide__slide h-100">
                              <div class="grid-2 gap-1">                           
                                    <img class="w-100" src="{% static 'images/results/11.jpg' %}">                             
                                    <img class="w-100" src="{% static 'images/results/12.jpg' %}">                                                       
                              </div>
                           </li>
                           <li class="splide__slide h-100">
                              <div class="grid-2 gap-1">                           
                                    <img class="w-100" src="{% static 'images/results/12.jpg' %}">                             
                                    <img class="w-100" src="{% static 'images/results/13.jpg' %}">                                                       
                              </div>
                           </li>
                           <li class="splide__slide h-100">
                              <div class="grid-2 gap-1">                           
                                    <img class="w-100" src="{% static 'images/results/13.jpg' %}">                             
                                    <img class="w-100" src="{% static 'images/results/14.jpg' %}">                                                       
                              </div>
                           </li>
                           <li class="splide__slide h-100">
                              <div class="grid-2 gap-1">                           
                                    <img class="w-100" src="{% static 'images/results/15.jpg' %}">                             
                                    <img class="w-100" src="{% static 'images/results/16.jpg' %}">                                                       
                              </div>
                           </li>
                           <li class="splide__slide h-100">
                              <div class="grid-2 gap-1">                           
                                    <img class="w-100" src="{% static 'images/results/17.jpg' %}">                             
                                    <img class="w-100" src="{% static 'images/results/18.jpg' %}">                                                       
                              </div>
                           </li>
                       
                        </ul>
                     </div>
                  </div>

                  <div id="image-slider2" class="splide d-none d-sm-block ">
                     <div class="splide__track h-100">
                        <ul class="splide__list h-100">
                           {% for item in gallery %}
                           <li class="splide__slide h-100">
                              <img class="w-100" src="{{item.image.url}}">
                            </li>
                           {% endfor %}
                       
                        </ul>
                     </div>
                  </div>
               </div>
         
               <!-- Contact -->
               <div id="contact" class=" bg-dark-night text-light">
                  <div class="hr-light my-0"></div>
                  <div class="contact  p-5 p-sm-4">
                     <div class="mt-0 fs-40 b-1 mb-5 text-center" >Контакты</div>
                     <div class="links flex-wrap d-flex align-items-center justify-content-center">
                        <a href="https://t.me/fadilinfo" class="border-light w-sm-100   px-4 py-2 rounded-3  text-light d-flex align-items-center ">
                           <i class='bx bxl-telegram fs-40 mr-3 ' ></i>
                           <div class="">Telegram</div>
                        </a>
                        <a href="https://wa.me/998977980007" class="my-sm-4 border-light w-sm-100 mx-4  mx-sm-0  px-4 py-2 rounded-3  text-light d-flex align-items-center">
                           <i class='bx bxl-whatsapp fs-40  mr-3'></i>
                           <div class="">Whatsapp</div>
                        </a>
                        <a href="tel:+998977980007" class=" w-sm-100  border-light px-4 py-2  rounded-3 text-light d-flex align-items-center ">
                           <i class='bx bxs-phone-call fs-38 mr-3' ></i>
                           <div class="">+998 97 798 00 07</div>
                        </a>
                     
                     
                     </div>
                        
                        
                  </div>
               </div>
            
               <div id="map" class="p-sm-4  map bg-dark-night p-5">
                  <div class="fs-40 text-light mb-4 text-center-sm">Местоположение</div>
                  <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m12!1m3!1d1533.8144563390545!2d64.43549917140629!3d39.7479858008475!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!5e0!3m2!1sru!2s!4v1644769473214!5m2!1sru!2s"  style="border:0;" allowfullscreen="" loading="lazy"></iframe>
               </div>
            
               <div style="border-top:1px solid #fff;" class="footer grid-3 gap-1 transform text-light p-5 bg-dark-night">
                  <div class="fs-20 text-center order-1"><i class='bx bxs-map'></i> Город Бухара,ул. Пиридасгир, Здание Fadil - Центр Трихологии и косметологии </div>
                  <div class="fs-20 text-center order-2">Fadil  2015-2022</div>
                  <div class="fs-20 text-center order-3">Почтовый индекс: 200100</div>
                  
   
               </div>
            </div>
      </div>
   </div>
  
   <script src="https://unpkg.com/imask"></script>
   <script>
      document.addEventListener( 'DOMContentLoaded', function () {
         var main = new Splide( '#image-slider' );

         var second = new Splide( '#image-slider2' );

         main.mount()
         second.mount()
      } );



      


      let links = document.querySelectorAll('.nav_link_')
      for(let link of links){
         link.addEventListener('click', ()=> {
            sidebar.classList.toggle('active')
            topNavigator.classList.toggle('active')
         })
      }


      
  
       var element = document.getElementById('selector');
        var maskOptions = {
        mask: '+{998}(00)000-00-00'
        };
        var mask = IMask(element, maskOptions);

   </script>

{% endblock %}